@model IEnumerable<DataBase.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdresseClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodePostalClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VilleClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaysClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateInscriptionClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelephoneClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdresseClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodePostalClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VilleClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaysClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateInscriptionClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelephoneClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdClient }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdClient }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdClient })
        </td>
    </tr>
}

</table>
